* {
    max-width: 1500px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.light {
    background-color: rgb(230, 231, 232);
    color: rgb(10, 18, 77)
}

.dark {
    background-color: rgb(11, 17, 45);
    color: rgb(255, 252, 216);

}

header {
    display: flex;
    justify-content: space-around;
    height: 8vh;
}

h1 {
    font-size: 48px;
    margin-top: 24px
}


header input {
    width: 0px;
    height: 0px;
    margin-top: 20px;
}

label {
    margin-top: 24px;
    font-size: 24px;
    height: 24px;
    background-color: rgb(141, 224, 141);
    box-shadow: 0px 0px 25px 10px rgb(141, 224, 141);
}

button {
    padding: 7px;
    margin: 10px;
}

footer #portfolio {
    display: block;
    margin-top: 15px;
    font-size: 50px;
}

#portfolio:link,
#portfolio:visited {
    background-color: rgb(92, 160, 158);
    color: white;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

#portfolio:hover,
#portfolio:active {
    background-color: rgb(64, 127, 125);
    ;
}

@media screen and (max-width: 766px) {

    header {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 20vh;
    }

    h1 {
        font-size: 45px;
    }

    main {
        margin-top: 30px;
    }

    #desktop {
        display: none;
    }

    section {
        width: 100vw;
    }

    footer #portfolio {
        font-size: 25px;
    }
}