* {
    max-width: 1500px;
}

header {
    display: flex;
    justify-content: center;
}

main {
    display: flex;
    padding: 8px;
    border: black 2px solid;
}

section {
    justify-content: center;
    align-items: center;
    border: 1px solid;
    width: 45%;
    min-height: 50vh;
    max-height: 85vh;
    margin: 10px;
    padding: 30px;
    background-color: #2c5385;
    font-size: 28px;
    color: rgb(245, 255, 233);
    text-decoration: underline;
}

p {
    display: flex;
    flex: auto;
    justify-content: center;
    align-items: center;
    height: 50vh;
    border: 3px solid teal;
    font-size: 56px;
    font-weight: 100;
    border-radius: 50%;
    background: linear-gradient(#abe3f0, #017565);
    text-wrap: nowrap;
}

input,
textarea {
    width: 85%;
    height: 1.5em;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 16px;
}

#content {
    height: 5.5em;
}



button {
    padding: 7px;
    margin: 10px;
}